# Sphinx build directories
_build/
develop-eggs/
downloads/
lib/
lib64/
wheels/
share/python-wheels/
.installed.cfg

# Dotfiles
.*
!.gitignore
!.github
!.mailmap

# Compiled Python files
*.py[co]
__pycache__/
*.pyc

# setup.py egg_info
eggs/
.eggs/
*.egg-info/
*.egg

# Emacs/Vim backup files
*~
*.swp

# Hg conflict markers
*.orig
status

# Odoo filestore and configs
odoo/filestore
odoo/addons/base/maintenance
/odoo.conf

# Windows installation config
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# JS tooling
node_modules/
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Python virtualenv and build artifacts
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
/venv/
/.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask specific
instance/
.webassets-cache

# Your temporary print file
tempprint.txt
